html, body, ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  overflow: hidden;
  background: transparent;
}

ul {
  list-style: none;
  position: fixed;
  width: 250px;
  height: 250px;
  left: 50%;
  top: 50%;
  margin-left: -250px/width;
  margin-top: -125px;
  overflow: visible;
  -webkit-perspective: 1600px;
  perspective: -400px;
}

li {
  width: 250px;
  height: 250px;
  position: absolute;
  border: 2px solid indigo;
  border-radius: 20%;
  left: 50%;
  top: 50%;
  margin-left: -62.5px;
  margin-top: -62.5px;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#s1 {
  transform: translateZ(-10px);
  animation-name: s1;
}

#s2 {
  transform: translateZ(-10px);
  animation-name: s2;
}

#s3 {
  transform: translateZ(-10px);
  animation-name: s3;
}

#s4 {
  transform: translateZ(-10px);
  animation-name: s4;
}

#s5 {
  transform: translateZ(-10px);
  animation-name: s5;
}

#s6 {
  transform: translateZ(-10px);
  animation-name: s6;
}

#s7 {
  transform: translateZ(-10px);
  animation-name: s7;
}

#s8 {
  transform: translateZ(-10px);
  animation-name: s8;
}

@keyframes s1 {
  from {
    transform: translateZ(1 px);
  }
  to {
    transform: translateZ(30px);
  }
}
@keyframes s2 {
  from {
    transform: translateZ(1 px-120);
  }
  to {
    transform: translateZ(-90px);
  }
}
@keyframes s3 {
  from {
    transform: translateZ(1 px-120-120);
  }
  to {
    transform: translateZ(-210px);
  }
}
@keyframes s4 {
  from {
    transform: translateZ(1 px-120-120-120);
  }
  to {
    transform: translateZ(-330px);
  }
}
@keyframes s5 {
  from {
    transform: translateZ(1 px-120-120-120-120);
  }
  to {
    transform: translateZ(-450px);
  }
}
@keyframes s6 {
  from {
    transform: translateZ(1 px-120-120-120-120-120);
  }
  to {
    transform: translateZ(-570px);
  }
}
@keyframes s7 {
  from {
    transform: translateZ(1 px-120-120-120-120-120-120);
  }
  to {
    transform: translateZ(-690px);
  }
}
@keyframes s8 {
  from {
    transform: translateZ(1 px-120-120-120-120-120-120-120);
  }
  to {
    transform: translateZ(-810px);
  }
}
